.contenedor-btn{
    padding: 10px;
    display: flex;
    gap: 25px;
    background-color: white;
    border-radius: 40px;
    margin-top: -20px;
    cursor: pointer;
}

.none{
    display: none;
}

.flex{
    display: flex;
}

@media screen and (min-width:700px) {

    .contenedor-btn{
        margin-left: -100px;
    }


}

@media screen and (min-width:1100px) {

    .contenedor-btn{
        margin-left: -160px;
    }

}