.contenedor-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    width: 80vw;
    margin: 20px auto;
}

.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contenedor-card .fondo{
    width: 100%;
    z-index: -10;
    
}


.contenedor-card .imagen{
    width: 75%;
    border-radius: 10px;
    margin-top: -85%;
}
.contenedor-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}




.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descripcion .comillas{
    width: 60px;
    margin-top: 30px;
}

.descripcion .parrafo{
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    margin-top: -25px;

}

.nombres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.nombres .nombre{
    font-weight: bold;
    margin-bottom: -15px;
}

.nombres .cargo{
    color: gray;
}


@media screen and (min-width:700px) {

    .contenedor-card{
        flex-direction: row-reverse;
        max-width: 700px;
        justify-content: center;
        align-items: center;
        margin: 100px auto;
    }
    .img{
        z-index: 0;
    }
    .contenedor-texto{
        align-items: start;
        z-index: 10;
        margin-left: 10px;
    }

    .descripcion .parrafo{
        text-align: left;
        width: 100%;
        font-size: 17px;
        margin-left: 180px;
        
       
    }

    .nombres{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        font-size: 12px;
        margin-left: 90px;
        
    
    }

    .nombres .nombre{
        margin: 0;
        
    }
}


@media screen and (min-width:1100px) {

    .contenedor-card{
        flex-direction: row-reverse;
        max-width: 1000px;
        justify-content: center;
        align-items: center;
        margin: 100px auto;
    }

    .contenedor-card .imagen{
        width: 90%;
    }

    .contenedor-texto .parrafo{
        font-size: 1.4rem;
        margin-left: 200px;
        text-align: left;
    }

    .nombres{
        font-size: 1rem;
        margin-left: 100px;
    }



}