.contenedor-btn{
    padding: 10px;
    display: flex;
    gap: 15px;
    background-color: rgb(22, 21, 21);
    border-radius: 40px;
    margin-top: -60px;
}
.none{
    display: none;
}

.flex{
    display: flex;
}

